$f-light: 'Poppins-Light';
$f-regular: 'Poppins-Regular';
$f-semibold: 'Poppins-SemiBold';
$f-bold: 'Poppins-Bold';

$font-path: '/../fonts';

//Poppins Light
@font-face {
    src: url('#{$font-path}/Poppins-Light.ttf') format('truetype');
    font-family: 'Poppins-Light';
}
//Poppins Regular
@font-face {
    src: url('#{$font-path}/Poppins-Regular.ttf') format('truetype');
    font-family: 'Poppins-Regular';
}
//Poppins Semi Bold
@font-face {
    src: url('#{$font-path}/Poppins-SemiBold.ttf') format('truetype');
    font-family: 'Poppins-SemiBold';
}
//Poppins Bold
@font-face {
    src: url('#{$font-path}/Poppins-Bold.ttf') format('truetype');
    font-family: 'Poppins-Bold';
}